// 全局样式

body,
#app {
    width: 100vw;
    height: 100vh;
}

.card-container {
    border-radius: 8px;

    + .card-container {
        margin-top: 10px;
    }

    .n-form {
        max-width: 640px;
    }
}

// 文字不换行
.text-nowrap {
    word-break: keep-all;
    white-space: nowrap;
}

// grid右对齐容器
.grid-item-right {
    text-align: right;

    // 子元素间隔
    > * + * {
        margin-left: 10px;
    }
}

// 表单按钮行容器
.form-btn-container {
    text-align: center;

    button + button {
        margin-left: 10px;
    }
}

.n-text.n-text--code {
    margin: 0 3px;
}

.n-result {
    width: 100%;
    height: 100%;
    flex-direction: column;
    @include flex-center-main-cross;
}
